{% load i18n wagtailadmin_tags %}

<section id="LongclawStats" class="panel nice-padding clearfix"  aria-labelledby="longclaw-stats"  aria-controls="LongclawStatsContent">

  {% if heading %}
    <div id="LongclawStatsHeader" class="w-panel__header">
  <a class="w-panel__anchor w-panel__anchor--prefix" href="#{{ panel_id }}" data-panel-anchor aria-labelledby="LongclawStatsHeader">
      {% icon name="link" classname="w-panel__icon" %}
  </a>
  <button class="w-panel__toggle" type="button" aria-label="{% trans 'Toggle section' %}" aria-describedby="LongclawStatsHeader" data-panel-toggle aria-controls="{{ content_id }}" aria-expanded="true">
      {% firstof icon "arrow-down-big" as icon_name %}
      {% icon name=icon_name classname="w-panel__icon" %}
  </button>

      <h2 class="w-panel__heading">Sales Performance</h2>
{#      <p>Recent Sales Made through the Store</p>#}
    </div>
  {% endif %}

  <div id="LongclawStatsContent" class="flex-row">

    <div class="col6">
      <canvas id="daily-sales" width="100" height="75" ></canvas>
      <br>
    </div>

    <div class="col6">
      <canvas id="popular-products" width="100" height="75"></canvas>
      <br>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<script>
  var ctx = document.getElementById("daily-sales");
  var data = {
    labels: "{{ labels|safe|default:'daily Sales' }}",
  datasets: [
    {
      data: {{ daily_income|default:"[]" }}
      }
  ]
  };
  {#if(data['datasets'][0]['data'].length) {#}

  var dailySalesChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
      title: {
        display: true,
        text: 'Revenue this month'
      },
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
              scaleLabel: {
                  display: true,
                  labelString: 'Date'
                }
            }],
        yAxes: [{
          scaleLabel: {
              display: true,
              labelString: 'Revenue ({{currency}})'
            }
        }]
      }
    }
  });
  {#}#}

  var ctx_products = document.getElementById("popular-products");
  var data = {
    labels: "{{ product_labels|safe|default:'Popular Products' }}",
    datasets: [
      {
        data: {{ sales_volume|default:"[]" }}
      }
    ]
  };


  {#if(data['datasets'][0]['data'].length) {#}
    var popProductsChart = new Chart(ctx_products, {
      type: 'bar',
      data: data,
      options: {
        title: {
          display: true,
          text: 'Popular products this month'
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            },
            scaleLabel: {
              display: true,
              labelString: 'No. Sales'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Product Title'
            }
          }]
        },
        legend: {
          display: false
        }
      }
    })
  {#}#}

</script>
